:root {
    --moss: #004517;
    --lightMoss: #00862d;
    --leaf: #7c1165;
    --lightLeaf: rgb(231, 89, 167);
}

html {
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
}

.banner {
    background: linear-gradient(to top, var(--moss), #0000), url("./images/moss.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: 50% 25%;

    color: white;
    text-align: center;
    padding-top: 0.5rem;
}

.banner * {
    margin: 2rem auto;
}

.banner h1 {
    font-size: 3rem;
}

.banner p {
    padding: 1rem 10%;
    margin: 0;
}

@media only screen and (max-width: 810px) {
    .banner p {
        text-align: left;
    }  
}
#middle {
    display: flex;
    flex-direction: row;
    /* background-color: lightpink; */
}

aside {
    width: 30%;
    padding: 0 2rem 2rem;
    background-color: var(--moss);
    color: white;
}

aside section {
    margin-bottom: 2rem;
}

aside hr {
    color: var(--lightLeaf);
}

aside h2 {
    color: var(--lightLeaf);
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
}

aside h3 {
    font-style: italic;
    font-weight: lighter;
    margin-top: 1.5rem;
    margin-bottom: 0;
    
}

aside h4 {
    font-weight: bolder;
    margin: 1.0rem 0 0.3rem;
}

aside ul {
    margin: 0 0 0 1rem;
    padding: 0;
}

aside ul.stack-items {
    display: grid;
    grid-template-columns: minmax(auto, 150px) auto;
}

aside li {
    list-style-type: none;
    margin: 0.2rem 0.5rem 0 0.5rem;
}

aside ul.competencies li {
    padding-left: 0.5em;
}

aside ul.competencies li::marker {
    content: "✔";
}

/* ul li::marker {
    content: "🌸";
    content: "🌿";
    content: "🪴";
    content: "🌱";
} */

main {
    display: inline-block;
    width: 66%;
    max-width: 680px;
    vertical-align: top;
    box-sizing: border-box;

    padding: 0 2rem 1rem;
}

@media only screen and (max-width: 720px) {
    #middle {
        flex-direction: column;
    }
    aside {
        display: block;
        width: 100%;
    }
    main {
        display: block;
        width: 100%;
    }
}

a {
    text-decoration: underline;
}

a.stack {
    text-decoration: none;
    font-family: monospace;
    font-weight: bolder;
}

main h2 {
    color: var(--lightMoss);
    font-size: 2rem;
    font-weight: lighter;
    text-transform: uppercase;
}

article h3 {
    color: black;
    font-weight: bolder;
    font-size: 1.3rem;
    margin: 1.5rem 0 0.5rem;
}

article h4 {
    color: var(--leaf);
    margin: 0;
}

article time {
    font-weight: normal;
    margin-right: 1rem;
}

article li {
    list-style-type: none;
    padding-left: 0.5em;
}

article li::marker{
    content: "✔";
}

footer {
    background: var(--leaf);
    background-size: cover;
    background-repeat: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

footer section.contact {
    color: white;
}

footer section.source {
    color: lightgrey
}

@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  footer section {
    width: 100%;
  }

  footer section.source a {
    margin-top: 0;
  }
}